.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    
    margin: 300px 0px 0px 50px;

  }
  
  .baloon {
  
  }
  
  .speech {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
   
    
  }